* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 180vh;
}

.section1-infos h1 {
  display: block;
  box-sizing: border-box;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 48px;
  padding-right: 48px;
  font-size: 40px;
  line-height: 56px;
  font-size: 40px;
  /* font-family: 'MintGroteskTrial Medium', serif; */
  font-family: 'MintGroteskTrial Bold', serif;
  font-style: solid;
  /* height: 30vh; */
}

.section2-infos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 70px;
}

.info1,
.info2,
.info3 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px;
}

.info1 p,
.info2 p,
.info3 p {
  line-height: 1.7em;
  font-size: 20px;
  font-family: 'MintGroteskTrial Medium', serif;
}

.info1 h3,
.info2 h3,
.info3 h3 {
  padding-bottom: 18px;
  font-size: 25px;
}

.info1 {
  background-color: #ffdd00;
}

.info2 {
  background-color: violet;
}

.info3 {
  background-color: #00897b;
}

.section3-infos h3 {
  padding-top: 18px;
  font-size: 30px;
}

.section3-infos p {
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.6em;
  font-family: ui-sans-serif, system-ui, -apple-system, 'system-ui', 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.diff-line {
  /* padding-top: 35px;
  padding-bottom: 35px; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.section4-table1,
.section4-table2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section4-infos {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 120px;
  justify-content: space-evenly;
}

.section4-infos img {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  /* padding-bottom: -30px; */

  width: 300px;
  height: 300px;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

.section4-table2,
.section4-table1 {
  height: 500px;
  width: 400px;
  border-radius: 10px;
  border-style: ridge;
}

.section4-table2 h3,
.section4-table1 h3 {
  font-size: 20px;
  padding-left: 30px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9vh;
}
.footer a {
  margin-top: 70px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.footer p {
  margin-top: 20px;
  font-size: 25px;
  color: gray;
}

@media (max-width: 800px) {
  .section2-infos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .section4-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
